@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #252B42;
  --sky-blue: #23A6F0;
  --light-sky-blue: #B2E3FF;
  --light-orange: #E77C40;
  --red: #E74040;
  --light-gray: #737373;
  --yellow: #FACC15;
  --green: #2DC071;
  --light-green: #B9EAA8;
}

body {
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 1.6;
}

/* START HEADER */
.header {
  background-color: var(--dark-blue);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 10vh;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header nav ul li a,
.account a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
  position: relative;
}

.header nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--red);
  transition: 0.6s ease;
}

.header nav ul li a:hover::after {
  width: 100%;
}

.header nav ul li a:hover {
  color: var(--red);
}

.logo {
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 5px;
}

.account {
  display: flex;
  align-items: center;
  gap: 20px;
}

.account .btn-login {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid white;
}

.account .btn-join {
  background-color: var(--red);
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  gap: 5px;
}
/* END HEADER */

/* START HOME */
.home-container {
  background-color: var(--dark-blue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container .home-header-content {
  width: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home-container .home-header-content span {
  padding-top: 80px;
  color: var(--red);
  font-weight: 600;
}

.home-container .home-header-content h1 {
  color: white;
  font-size: 40px;
}

.home-container .home-header-content p {
  color: var(--light-gray);
}

.home-container .home-header-content .btn-quote-learn a {
  text-decoration: none;
  font-weight: 500;
}

.home-container .home-header-content .btn-quote-learn {
  margin-bottom: 30px;
}

.home-container .home-header-content .btn-quote-learn .btn-quote {
  background-color: var(--red);
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  margin-right: 10px;
}

.home-container .home-header-content .btn-quote-learn .btn-learn {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid var(--red);
  color: var(--red);
}

/* START HOME CARDS */
.home-card-content {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  gap: 30px;
}

.home-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.home-card h3 {
  color: var(--dark-blue);
}

.home-card p {
  color: var(--light-gray);
}

.red-line {
  width: 100px;
  height: 2px;
  background-color: var(--red);
}
/* END HOME CARDS */
/* END HOME */

/* START COURSES */
.courses-container {
  padding: 50px 50px 10px 50px;
}

.courses-header-content {
  text-align: center;
}

.courses-header-content span {
  color: var(--sky-blue);
  font-weight: 600;
}

.courses-header-content h2 {
  color: var(--dark-blue);
  font-size: 35px;
  margin: 20px 0;
}

.courses-header-content p {
  color: var(--light-gray);
}

.course-card-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 20px 0;
}

.course-card-content .course-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
  border-radius: 20px;
}

.course-card-content .course-card .course-card-image {
  width: 100%;
  height: 250px;
}

.course-card-content .course-card .course-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.course-card-content .course-card .course-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #F8F8F8;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}

.course-card-content .course-card .course-details .department-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-card-content .course-card .course-details .department-rating .department {
  color: var(--sky-blue);
  font-weight: 600;
}

.course-card-content .course-card .course-details .department-rating .rating {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 20px;
}

.course-card-content .course-card .course-details .department-rating .rating svg {
  stroke: var(--yellow);
  fill: var(--yellow);
}

.course-card-content .course-card .course-details h3 {
  color: var(--dark-blue);
}

.course-card-content .course-card .course-details .description {
  color: var(--light-gray);
}

.course-card-content .course-card .course-details .sales {
  color: var(--red);
  font-weight: 600;
}

.course-card-content .course-card .course-details .price .discount {
  color: var(--red);
  margin-right: 10px;
  font-weight: 600;
}

.course-card-content .course-card .course-details .price .original-price {
  color: var(--green);
  font-weight: 600;
}

.course-card-content .course-card .course-details .course-duration-lessons {
  display: flex;
  gap: 20px;
}

.course-card-content .course-card .course-details .course-duration-lessons span {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--light-gray);
}

.course-card-content .course-card .course-details .course-duration-lessons svg {
  color: var(--sky-blue);
}

.course-card-content .course-card .course-details .btn-view-course {
  background-color: var(--sky-blue);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
/* END COURSES */

/* START REVIEWS */
.reviews-container {
  padding: 50px 50px 10px 50px;
}

.reviews-header-content {
  text-align: center;
}

.reviews-header-content span {
  color: var(--sky-blue);
  font-weight: 600;
}

.reviews-header-content h2 {
  color: var(--dark-blue);
  font-size: 35px;
  margin: 20px 0;
}

.reviews-header-content p {
  color: var(--light-gray);
}

.review-card-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 20px 0;
}

.review-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
  border-radius: 20px;
}

.review-card-content .review-card .review-card-image {
  width: 100%;
  height: 250px;
}

.review-card-content .review-card .review-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.review-card-content .review-card .review-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.review-card .review-details h3 {
  color: var(--sky-blue);
}

.review-card .review-details span {
  color: var(--dark-blue);
  font-weight: 700;
}

.review-card .review-details p {
  color: var(--light-gray);
}
/* END REVIEWS */

/* START JOINUS */
.join-us-container {
  background-color: var(--dark-blue);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.join-us-container span {
  color: var(--red);
  font-weight: 600;
}

.join-us-container h2 {
  color: white;
  font-size: 35px;
}

.join-us-container p {
  color: white;
  width: 650px;
  text-align: center;
}

.join-us-container .email-subscribe .email {
  padding: 10px 20px;
  border-radius: 20px;
  width: 350px;
  margin-right: 10px;
  border: none;
  outline: none;
}

.join-us-container .email-subscribe .btn-subscribe {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--red);
  color: white;
  cursor: pointer;
}
/* END JOINUS */