@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #252B42;
  --sky-blue: #23A6F0;
  --light-sky-blue: #B2E3FF;
  --light-orange: #E77C40;
  --red: #E74040;
  --light-pink: #FFDCD1;
  --light-gray: #737373;
  --yellow: #F3CD03;
  --green: #2DC071;
  --light-green: #B9EAA8;
}

body {
 font-family: "Montserrat", sans-serif;
}

p {
  line-height: 1.6;
}

/* START HEADER */
.header {
  background-color: var(--dark-blue);
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 10vh;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header nav ul li a,
.account a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
  position: relative;
}

.header nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--red);
  transition: 0.6s ease;
}

.header nav ul li a:hover::after {
  width: 100%;
}

.header nav ul li a:hover {
  color: var(--red);
}

.logo {
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.logo svg {
  margin-right: 5px;
}

.account {
  display: flex;
  align-items: center;
  gap: 20px;
}

.account .btn-login {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid white;
}

.account .btn-join {
  background-color: var(--red);
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.account .btn-join svg {
  margin-left: 5px; 
}
/* END HEADER */


/* START HOME */
.container {
  background-color: var(--dark-blue);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-header {
  width: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content-header span {
  color: var(--red);
  font-weight: 600;
}

.content-header h1 {
  color: var(--light-pink);
  font-size: 40px;
}

.content-header p {
  color: var(--light-pink);
}

.btn-quote-learn a {
  text-decoration: none;
  font-weight: 500;
}

.btn-quote-learn {
 margin-bottom: 30px;
}

.btn-quote {
  background-color: var(--red);
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  margin-right: 10px;
}

.btn-learn {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid var(--red);
  color: var(--red);
}

/* START CARDS */
.content-cards {
  display: flex;
  justify-content: space-between;
  width: 85%;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.card p {
  color: var(--light-gray);
  font-weight: 600;
}

.red-line {
  width: 100px;
  height: 2px;
  background-color: var(--red);
}
/* END CARDS */
/* END HOME */