@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #252B42;
  --sky-blue: #23A6F0;
  --light-sky-blue: #B2E3FF;
  --light-orange: #E77C40;
  --red: #E74040;
  --light-pink: #FFDCD1;
  --light-gray: #737373;
  --yellow: #F3CD03;
  --green: #2DC071;
  --light-green: #B9EAA8;
}

body {
 font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.4;
}