@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #252B42;
  --sky-blue: #23A6F0;
  --light-sky-blue: #B2E3FF;
  --light-orange: #E77C40;
  --red: #E74040;
  --light-pink: #FFDCD1;
  --light-gray: #737373;
  --yellow: #F3CD03;
  --green: #2DC071;
  --light-green: #B9EAA8;
}

body {
 font-family: "Inter", sans-serif;
}

p {
  line-height: 1.4;
}

/* START HEADER */
.header {
  background-color: var(--dark-blue);
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 10vh;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header nav ul li a,
.account a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
  position: relative;
}

.header nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--red);
  transition: 0.6s ease;
}

.header nav ul li a:hover::after {
  width: 100%;
}

.header nav ul li a:hover {
  color: var(--red);
}

.logo {
  color: white;
}

.account {
  display: flex;
  align-items: center;
  gap: 20px;
}

.account .btn-login {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid white;
}

.account .btn-join {
  background-color: var(--red);
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.account .btn-join svg {
  margin-left: 5px; 
}
/* END HEADER */

/* START HOME */
.container {
  background-color: var(--dark-blue);
}

/* END HOME */